/* --------------- Wrapper-title --------------- */
.wrapper__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--clr-white);
    
    margin: 0 auto;
    margin-bottom: 30px;

    width: 696px;
}
/* --------------- Business-title --------------- */
.business__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--clr-grey);
}

/* ------------------- Clients ------------------- */
.clent__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--clr-grey);

    margin-bottom: 50px;
}
/* --------------- Team-title --------------- */
.team__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--clr-grey);
}